.section-title {
  font-size: 35px;
  color: $primary-color;
  letter-spacing: -2.3px;
  line-height: 1.14;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  font-weight: 900;

  @include tablet {
    font-size: 40px;
    letter-spacing: -3px;
    line-height: 1;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 0;
  }
}

.section {
  p {
    margin: auto;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
    color: $text-color;
  }

  h2 {
    max-width: 550px;
  }
}

.section-col {
  padding-right: 36px;
  padding-left: 36px;

  p {
    margin-bottom: 24px;
  }

  @include tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include desktop {
    max-width: 50%;
  }

  @include desktop-xl {
    max-width: 612px;
  }
}

.section-list svg {
  width: 22px;
  height: 22px;
  margin-right: 12px;
  flex-shrink: 0;
}

.section-list {
  font-size: 14px;
  line-height: 1.43;
  font-weight: 700;
  margin-bottom: 32px;
}

.section-list li {
  display: flex;
  margin-bottom: 18px;
}

.section-row {
  margin-right: -36px;
  margin-left: -36px;

  @include desktop {
    padding-left: 100px;
  }
}
