.values {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -36px;
  margin-left: -36px;
  max-width: calc(100% + 72px);
  padding: 0 18px;

  @include laptop {
    justify-content: flex-start;
  }

  &__caption {
    max-width: 120px;
    margin-right: auto;
    margin-left: auto;
    color: $primary-color;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    margin-bottom: 8px;

    @include laptop {
      width: 108px;
    }

    @include desktop {
      width: 145px;
    }
  }

  &__item {
    font-size: 16px;
    letter-spacing: -1.2px;
    line-height: 20px;
    font-weight: 900;
    text-align: center;
    margin: 7px;

    &:nth-child(1) {
      svg {
        width: 44px;
      }
    }

    &:nth-child(2) {
      svg {
        width: 50px;
      }
    }

    &:nth-child(3) {
      svg {
        width: 70px;
      }
    }

    &:nth-child(4) {
      svg {
        width: 60px;
      }
    }

    &:hover {
      .values__item-bg img {
        transform: scale(1.1);
        transition-property: transform;
        transition-duration: $transition-duration;
      }
    }
  }

  &__item-bg {
    position: relative;
    color: $text-color-white;

    img {
      transition-property: transform;
      transition-duration: $transition-duration;
    }

    svg {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
      height: 100%;
    }
  }
}
