// stylelint-disable scss/dollar-variable-empty-line-before

// Fonts
$font-family: Arial;
$font-weight: 400;
$font-size: 14px;

// Colors
$text-color: #4e4e4e;
$primary-color: #613983;
$secondary-color: #6eb57e;
$text-color-white: #ffffff;
$light-lavender-color: #efebf2;

// Text
$section-title-font-size: 40px;

// Border-radius
$border-radius: 8px;

// Transitions
$transition-duration: 0.3s;

// Border
$border-color: #fff;
